.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

#navigation {
    position: absolute;
    top: 0;
    right: 0;
    
    
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(4F48D2E6-E3B3-432E-AB1E-5C37B8FF4743_1_105_c.jpeg);
    object-fit: cover;
    background-size: cover;
    background-position-y: 25%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}