*{
    margin: 0;
    padding: 0;
}
.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 70%;
   
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px ;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a:hover{
    content: '';
    width: 0;
    height: 3px;
    color:aqua;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(4F48D2E6-E3B3-432E-AB1E-5C37B8FF4743_1_105_c.jpeg);
    object-fit: cover;
    background-size: cover;
    background-position-y: 25%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:aliceblue;
}



.profileheader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: black;
}
  

